{{! <div class="container"> }}
{{!-- <div id="login-form" class="container">
  <h2>Log In</h2>
  <form action="/login" method="POST" class="center-form">

    <div class="row">
      <div class="mb-3">
        <label>
          Username
          <input type="text" name="username" placeholder="Your username" />
        </label>
      </div>
    </div>

    <div class="mb-3">
      <label>
        Email
        <input type="email" name="email" placeholder="Your email" />
      </label>
    </div>
    <div class="mb-3">
      <label>
        Password
        <input type="password" name="password" placeholder="Your password" />
      </label>
    </div>
    <button type="submit">Log In</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div> --}}
{{! </div> }}
<div class="container">
  <form class="center-form" action="/login" method="POST" class="center-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username<span
          class="text-danger"
        >*</span></label>
      <input type="text" class="form-control" id="username" name="username" />

    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address<span
          class="text-danger"
        >*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password<span
          class="text-danger"
        >*</span></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        aria-describedby="passwordHelp"
      />
      <div id="passwordHelp" class="form-text">Password must be longer than 6
        characteres.</div>
    </div>
    {{#if errorMessage}}
      <p class="error text-danger">{{errorMessage}}</p>
    {{/if}}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>