<div class="container">
  <p>If you have an account, please log in</p>
  <form class="center-form" action="/auth/login" method="POST" class="center-form">
    <div class="mb-3">
      <label for="username" class="form-label">Username<span
          class="text-danger"
        >*</span></label>
      <input type="text" class="form-control" id="username" name="username" />

    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address<span
          class="text-danger"
        >*</span></label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">We'll never share your email with
        anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password<span
          class="text-danger"
        >*</span></label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        aria-describedby="passwordHelp"
      />
      <div id="passwordHelp" class="form-text">Password must be longer than 6
        characters.</div>
    </div>
    {{#if errorMessage}}
      <p class="error text-danger">{{errorMessage}}</p>
    {{/if}}
    <button type="submit" class="btn btn-success">Log in</button>
  </form>
</div>