<h2>Hallo new character</h2>

<div class="mb-3">
  <label for="name" class="form-label">Name</label>
  <input type="email" class="form-control" id="name" placeholder="name" />
</div>
<div class="mb-3">
  <label for="occupation" class="form-label">occupation</label>
  <input
    type="email"
    class="form-control"
    id="occupation"
    placeholder="occupation"
  />
</div>
<div class="mb-3">
  <label for="description" class="form-label">description</label>
  <textarea class="form-control" id="description" rows="3"></textarea>
</div>
<div class="mb-3">
  <label for="quotes" class="form-label">quotes</label>
  <textarea class="form-control" id="quotes" rows="3"></textarea>
</div>

<div class="mb-3">
  <label for="movie" class="form-label">movie</label>
  <input type="email" class="form-control" id="movie" placeholder="movie" />
</div>