body {
  margin: 0;
  padding: 0;
  font-family: 'Borel', cursive;
  font-family: 'Nunito Sans', sans-serif;
}



.card-img-custom {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.center-form {
  width: 50vw;
  margin: 0 auto;
  margin-top: 10vh;
}

.img-container-custom img {
  width: 100%;
}

.nav-custom {
  background-color: #454851;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.div-custom {
  height: 5vh;
  background-color: #454851;
  position: relative;
  bottom: 0;
  margin-top: 30px;
  padding: 0;
  border: none;
}

/* Small screens */
@media (max-width: 767px) {
  .search-custom {
    width: 85%;
  }

  .card-custom {
    width: 100%;
  }

}

/* Medium screens */
@media (min-width: 768px) and (max-width: 991px) {
  .search-custom {
    width: 90%;
  }

  .card-custom {
    width: 45%;
  }
}

/* Large screens and up */
@media (min-width: 992px) {
  .search-custom {
    width: 25vw;
  }

  .card-custom {
    width: 30%;
  }
}

.container-custom {
  position: relative;
  overflow: hidden;
}


/* ------- */


.section-one {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 80%;
  background-color: black;
  color: #ffbe00;
  font-family: sans-serif;
  font-size: 5vw;
  line-height: 1.3;
  overflow: hidden;
 
}

.container-custom {
  width: 90%;
  margin: 0 auto;
  perspective: 380px;
  perspective-origin: bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  transform: scaleY(0.9);
}

.credits {
  position: absolute;
  top: 0;
  left: 13%;
  right: 13%;
  height: 100%;
  animation: play 30s infinite;
}

.headings {
  margin-bottom: 5rem;
}

.headings h1 {
  font-size: 2.5rem;
  text-align: center;
}

.headings h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
}

.headings p {
  padding: 0.5rem 0;
}

@keyframes play {
  0% {
    transform: rotateX(21deg) translate3d(0, 100rem, 0);
    opacity: 0;
  }

  85% {
    opacity: 1;
  }

  100% {
    transform: rotateX(21deg) translate3d(0, -150rem, 0);
    opacity: 0;
  }
}
