<div class="container">
  <h2>May the Force be with you</h2>
  <form
    action="/characters/create"
    method="POST"
    enctype="multipart/form-data"
    class="center-form"
  >

    <div class="mb-3">
      <label  for="name" class="form-label">Name
        <span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="name"
        name="name"
      />
    </div>
    {{#if errorMessage}}
      <p class="error text-danger">{{errorMessage}}</p>
    {{/if}}
    <div class="mb-3">
      <label required for="image" class="form-label">Image</label>
      <input
        type="file"
        class="form-control-file"
        id="image"
        placeholder="image"
        name="character-image"
      />
    </div>
    <div class="mb-3">
      <label for="occupation" class="form-label">Occupation
        <span class="text-danger">*</span></label>
      <input
        type="text"
        class="form-control"
        id="occupation"
        placeholder="occupation"
        name="occupation"
      />
    </div>
    {{#if errorMessage}}
      <p class="error text-danger">{{errorMessage}}</p>
    {{/if}}
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea
        class="form-control"
        id="description"
        rows="3"
        name="description"
      ></textarea>
    </div>
    <div class="mb-3">
      <label for="quotes" class="form-label">Quotes</label>
      <textarea
        class="form-control"
        id="quotes"
        rows="3"
        name="quotes"
      ></textarea>
    </div>

    <div class="mb-3">
      <label for="movie" class="form-label">Movie</label>
      <input
        type="text"
        class="form-control"
        id="movie"
        placeholder="movie"
        name="movie"
      />
    </div>
    <button type="submit" class="btn btn-primary mb-5">Create</button>
    <a
      class="btn btn-outline-success mb-5"
      role="button"
      href="/characters"
    >Cancel</a>
  </form>
</div>